<html layout:decorate="~{layout}">
    <div layout:fragment="content" class="container">
        <div class="row">
            <div class="col">
                <h5 class="my-3 pb-2">게시글 작성</h5>

                <form th:action="@{/board/create}" th:object="${boardForm}" method="post">
                    <!-- 입력검증 영역 / 초기 작업 -->
                     <!-- <div class="alert alert-danger" role="alert" th:if="${#fields.hadAnyErrors()}">
                        <div th:each="error : ${#fields.allErrors()}" th:text="${error}"></div>
                     </div> -->
                     <!-- 입력검증 영역 / 템플릿화 -->
                      <div th:replace="~{valid_error :: errorFragment}"></div>
                     <!-- 제목 영역 -->
                    <div class="mb-3">
                        <label for="title" class="form-label">제목</label>
                        <input type="text" name="title" id="title" th:field="*{title}" class="form-control">
                    </div>
                    <!-- 내용영역 -->
                     <div class="mb-3">
                        <label for="content" class="form-label">내용</label>
                        <textarea name="content" id="content" th:field="*{content}" class="form-control" rows="10"></textarea>
                     </div>

                    <div class="text-end">
                        <input type="submit" value="저장" class="btn btn-sm, btn-primary my-2">
                        <a th:href="@{/board/list}" class="btn btn-sm btn-success">목록</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</html>